<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#;min-height: 80px;min-weight:80px;">
    <span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
    <center class="widget-name">
        <span style="font-weight:bold;"><a href="#eqLink#">#name#</a></span>
    </center>
    <center>
        <span class="directDisplay zoom cursor" style="width : 90%;max-height:90%">
			<span class="Detection" style="position:absolute; width:180px; text-align:right;">
				#detect#
			</span>
			<img class="ImgVideoFlux img-responsive"src="plugins/motion/core/template/icones/no-image-blanc.png"  data-eqLogic_id="#id#" style="z-index:1"/>
		</span>
        #action#
        <span class="cmd cmd-widget" data-type="action" data-subtype="other">
            <a class="camera_history btn btn-default btn-sm folder" data-eqLogic_id="#id#" style="background-color:#cmdColor# !important;border-color : transparent !important;"><i class="fa fa-folder-open"></i></a>
        </span>
    </center>
    <script>
        $('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
            $('#md_modal').dialog({title: "Historique #name#"});
			$('#md_modal').load('index.php?v=d&plugin=motion&modal=motion.history&id=#id#').dialog('open');
        }); 
		function refreshImgCam#id#(){	
			$.ajax({// fonction permettant de faire de l'ajax
				type: "POST", // methode de transmission des données au fichier php
				url: "plugins/motion/core/ajax/motion.ajax.php", // url du fichier php
				data: {
					action: "RefreshFlux",
					cameraId: "#id#",
				},
				dataType: 'json',
				global: false,
				error: function(request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function(data) { // si l'appel a bien fonctionné
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message: data.result, level: 'danger'});
						return;
					}
					if(!data.result){
						$(".eqLogic[data-eqLogic_id=#id#] .ImgVideoFlux").attr('src','plugins/motion/core/template/icones/no-image-blanc.png');
						$('.eqLogic[data-eqLogic_id=#id#] .ImgVideoFlux').attr('src','plugins/motion/core/template/icones/no-image-blanc.png');
					}
					else {
						var url = data.result;
						if(url.indexOf('?') > 0){
							url += '&t='+(new Date()).getTime();
						}else{
							url += '?t='+(new Date()).getTime();
						}
                    		$(".eqLogic[data-eqLogic_id=#id#] .ImgVideoFlux ").attr('src',url);
							 if($('.eqLogic[data-eqLogic_id=#id#] .directDisplay').html() != undefined)
							   timeoutCamera#id# = setTimeout(refreshImgCam#id#, #refreshDelay#);
					}
				}
			});
		}

	 if (typeof timeoutCamera#id# !== "undefined") {
	  clearTimeout(timeoutCamera#id#);
	}
	refreshImgCam#id#();
</script>
</div>