<div style="padding:0;width:165px;min-height:165px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="#collectDate#">
	<div class="row">
		<div class="center-block col-xs-12 h5 cmdName" id="cmdName#id#" style="margin-top:0;"><strong>#valueName#</strong></div>
		<div class="center-block col-xs-12 iconCmd#id#"></div>
	</div>
<!-- Ne Pas Supprimer -->
	<script class="createWidgetInfo" type="text/javascript">//<![CDATA[{"type":"1","version":"1","image1":"pas_detection_mouvement.png","image2":"detection_mouvement.png"}]]></script>
<!-- Ne Pas Supprimer -->
	<script>
		if ("#displayName#" == "1") {
			$(".cmd[data-cmd_id=#id#] .cmdName").show();
			$(".cmd[data-cmd_id=#id#]").css("min-height", "185px");
		} else {
			$(".cmd[data-cmd_id=#id#] .cmdName").hide();
			$(".cmd[data-cmd_id=#id#]").css("min-height", "165px");
		}
		$(".iconCmd#id#").empty();
		if ("#state#" == "1") {
			$(".iconCmd#id#").append("<img src='plugins/motion/core/template/icones/detection_mouvement.png'>");
		} else {
			$(".iconCmd#id#").append("<img src='plugins/motion/core/template/icones/pas_detection_mouvement.png'>");
		}
	</script>
</div>
