<img class="lastImg#id#" width="320" height="240"/>
<script>
	function getLastDetect(_autoUpdate) {
		$.ajax({
			type: 'POST',
			url: 'plugins/motion/core/ajax/motion.ajax.php',
			data: {
				action: 'LastSnapshot',
				cameraId:'#id#'
			},
			dataType: 'json',
			global: false,
			error: function (request, status, error) {
				handleAjaxError(request, status, error, $('#div_updatepreRequisAlert'));
			},
			success: function (data) {
				if (data.result)
				{
					$('.lastImg#id#').attr('src','./plugins/motion/ressources/Snapshot/#id#/'+data.result);	
					$('.lastImg#id#').show();
				}
				else
				{
					$('.lastImg[data-eqLogic_id=#id#]').hide();
				}
				if (init(_autoUpdate, 0) == 1) {
					setTimeout(function () {
						getLastDetect(_autoUpdate);
					}, 1000);
				}
			}
		});
	}
	$('.lastImg[data-eqLogic_id=#id#]').hide();
	getLastDetect(1);
</script>